input {
  file {
    path => "/Users/sarahallen/src/18F/labor-viz/timecards_bulk.csv"
    start_position => "beginning"
  }
}
filter {
  csv {
    separator => ","
    columns => ["project_name", "project_id", "employee", "start_date",
                "end_date", "hours_spent", "billable",
                "modified_date", "agency"]
  }
  date {
    match => ["start_date", "YYYY-MM-dd"]
  }
  mutate {
    convert => {
    "hours_spent" =>"float"
    "project_id" => "integer"
    }
  }
}

output {
    elasticsearch {
        action => "index"
        host => "localhost"
        index => "labor"
        protocol => "http"
        workers => 1
    }
    stdout {}
}
